{{ do_pages_start(2) }}
	<div class="max-w-[880px] mx-auto mt-20">
		<div class="mb-[30px]">
			<span class="font-medium italic text-[#00B2A9] block">{{ get_global_keyword( 'pilar_k1', 'K1') }}</span>
			<span class="font-medium italic text-[#00B2A9] block">{{ get_global_keyword( 'pilar_k4', 'K4') }}</span>
		</div>

		<div class="mb-[30px]">
			<h1 class="text-black text-[25px] font-medium mb-4">Kokonaisurakka, kiinteä hinta</h1>
			
			<div class="flex justify-between items-center my-5">
				<h4 class="text-[#081F2C] font-bold">Vertailu (alv. 0%)</h4>
				<span class="text-[#00B2A9] italic">xx.xx.xxxx</span>
			</div>
		</div>

		<table class="w-full">
			<tr>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3 w-[20%] text-white bg-[#00B2A9] text-[14px]">Sisältö</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3 w-[20%] text-white bg-[#00B2A9] text-[14px]">Nosteen kustannusarvio</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_1" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_2" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_3" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_4" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="py-2 px-3">
					<div class="help_wrap relative">

						<a href="#!" class="help_click"><svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="12" cy="12" r="10" stroke="#000000" stroke-width="0.72"></circle> <path d="M10.125 8.875C10.125 7.83947 10.9645 7 12 7C13.0355 7 13.875 7.83947 13.875 8.875C13.875 9.56245 13.505 10.1635 12.9534 10.4899C12.478 10.7711 12 11.1977 12 11.75V13" stroke="#000000" stroke-width="0.72" stroke-linecap="round"></path> <circle cx="12" cy="16" r="1" fill="#000000"></circle> </g></svg> </a>
	
						<div class="help_show text-[#586B74] text-[14px] lg:w-[170px] 2xl:w-[260px] bg-[#F6F8FF] border border-solid border-[#E1E1EA] rounded-lg p-5 lg:absolute lg:ml-[5px] lg:left-[100%] mt-[10px] mb-[15px] lg:mb[0] lg:mt-[-42px] hidden">
							<hr class="inline-block absolute right-[100%] top-[31px] w-[7px] border border-solid border-[#E1E1EA]">
							<span>
								Urakoitsija sekä tarjouspäivämäärä
							</span>
						</div>
					</div>
				</td>
			</tr>

			<tr>
				<td class="border border-solid border-[#E1E1EA] p-3 w-[20%] text-[#283B44] text-[14px] font-medium" colspan="6">
					Tilamuutostyö
				</td>
			</tr>

			<tr>
				<td class="text-[#00B2A9] italic border border-solid border-[#E1E1EA] py-2 px-3 w-[20%] text-[14px]">TY1, Syöte1</td>
				<td class="text-[#00B2A9] text-right italic border border-solid border-[#E1E1EA] py-2 px-3 w-[20%] text-[14px]">TY1, Syöte2</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_5" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_6" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_7" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_8" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="py-2 px-3">
					<div class="help_wrap relative">

						<a href="#!" class="help_click"><svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="12" cy="12" r="10" stroke="#000000" stroke-width="0.72"></circle> <path d="M10.125 8.875C10.125 7.83947 10.9645 7 12 7C13.0355 7 13.875 7.83947 13.875 8.875C13.875 9.56245 13.505 10.1635 12.9534 10.4899C12.478 10.7711 12 11.1977 12 11.75V13" stroke="#000000" stroke-width="0.72" stroke-linecap="round"></path> <circle cx="12" cy="16" r="1" fill="#000000"></circle> </g></svg> </a>
	
						<div class="help_show text-[#586B74] text-[14px] lg:w-[170px] 2xl:w-[260px] bg-[#F6F8FF] border border-solid border-[#E1E1EA] rounded-lg p-5 lg:absolute lg:ml-[5px] lg:left-[100%] mt-[10px] mb-[15px] lg:mb[0] lg:mt-[-42px] hidden">
							<hr class="inline-block absolute right-[100%] top-[31px] w-[7px] border border-solid border-[#E1E1EA]">
							<span>
								Lisää tarjousten rivien mukaan
							</span>
						</div>
					</div>
				</td>
			</tr>

			<tr>
				<td class="text-[#00B2A9] italic border border-solid border-[#E1E1EA] py-2 px-3 w-[20%] text-[14px]">TY2, Syöte1</td>
				<td class="text-[#00B2A9] text-right italic border border-solid border-[#E1E1EA] py-2 px-3 w-[20%] text-[14px]">TY2, Syöte2</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_9" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_10" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_11" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_12" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="py-2 px-3"></td>
			</tr>

			<tr>
				<td class="text-[#00B2A9] italic border border-solid border-[#E1E1EA] py-2 px-3 w-[20%] text-[14px]"></td>
				<td class="text-[#00B2A9] text-right italic border border-solid border-[#E1E1EA] py-2 px-3 w-[20%] text-[14px]"></td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_13" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_14" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_15" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_16" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="py-2 px-3"></td>
			</tr>

			<tr>
				<td class="text-[#00B2A9] italic border border-solid border-[#E1E1EA] py-2 px-3 w-[20%] text-[14px]"></td>
				<td class="text-[#00B2A9] text-right italic border border-solid border-[#E1E1EA] py-2 px-3 w-[20%] text-[14px]"></td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_17" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_18" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_19" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_20" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="py-2 px-3"></td>
			</tr>

			<tr>
				<td class="text-[#00B2A9] italic border border-solid border-[#E1E1EA] py-2 px-3 w-[20%] text-[14px]"></td>
				<td class="text-[#00B2A9] text-right italic border border-solid border-[#E1E1EA] py-2 px-3 w-[20%] text-[14px]"></td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_21" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_22" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_23" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_24" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="py-2 px-3"></td>
			</tr>

			<tr>
				<td class="text-[#00B2A9] italic border border-solid border-[#E1E1EA] py-2 px-3 w-[20%] text-[14px]"></td>
				<td class="text-[#00B2A9] text-right italic border border-solid border-[#E1E1EA] py-2 px-3 w-[20%] text-[14px]"></td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_25" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_26" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_27" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_28" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="py-2 px-3"></td>
			</tr>

			<tr>
				<td class="text-[#00B2A9] italic border border-solid border-[#E1E1EA] py-2 px-3 w-[20%] text-[14px]"></td>
				<td class="text-[#00B2A9] text-right italic border border-solid border-[#E1E1EA] py-2 px-3 w-[20%] text-[14px]"></td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_29" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_30" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_31" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_32" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="py-2 px-3"></td>
			</tr>

			<tr>
				<td class="text-[#00B2A9] italic border border-solid border-[#E1E1EA] py-2 px-3 w-[20%] text-[14px]"></td>
				<td class="text-[#00B2A9] text-right italic border border-solid border-[#E1E1EA] py-2 px-3 w-[20%] text-[14px]"></td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_33" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_34" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_35" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_36" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="py-2 px-3"></td>
			</tr>

			<tr>
				<td class="text-[#00B2A9] italic border border-solid border-[#E1E1EA] py-2 px-3 w-[20%] text-[14px]"></td>
				<td class="text-[#00B2A9] text-right italic border border-solid border-[#E1E1EA] py-2 px-3 w-[20%] text-[14px]"></td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_37" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_38" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_39" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_40" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="py-2 px-3"></td>
			</tr>

			<tr>
				<td class="text-[#00B2A9] italic border border-solid border-[#E1E1EA] py-2 px-3 w-[20%] text-[14px]"></td>
				<td class="text-[#00B2A9] text-right italic border border-solid border-[#E1E1EA] py-2 px-3 w-[20%] text-[14px]"></td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_41" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_42" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_43" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_44" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="py-2 px-3"></td>
			</tr>

			<tr>
				<td class="text-[#00B2A9] italic border border-solid border-[#E1E1EA] py-2 px-3 w-[20%] text-[14px]">TY12, Syöte1</td>
				<td class="text-[#00B2A9] text-right italic border border-solid border-[#E1E1EA] py-2 px-3 w-[20%] text-[14px]">TY12, Syöte2</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_45" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_46" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_47" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_48" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="py-2 px-3"></td>
			</tr>

			<tr>
				<td class="text-[#283B44] font-medium border border-solid border-[#E1E1EA] py-2 px-3 w-[20%] text-[14px]" colspan="2">Ovatko tarjoukset vertailukelpoisia</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<label class="inline-flex items-center gap-2 cursor-pointer mr-2">
						<span class="shadow-[0_0_4px_2px_rgb(81,244,200,44%)] border border-solid border-[#06F9B7] w-[12px] h-[12px] rounded-[2px] inline-flex items-center justify-center">
							<svg class="check_show hidden" width="12px" height="12px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M4 12.6111L8.92308 17.5L20 6.5" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
						</span>
						<input type="checkbox" class="checkbox_change absolute opacity-0" name="pilar_TY1">
						<span class="text-[#586B74] text-[12px]">Kyllä</span>
					</label>
					<label class="inline-flex items-center gap-2 cursor-pointer">
						<span class="shadow-[0_0_4px_2px_rgb(81,244,200,44%)] border border-solid border-[#06F9B7] w-[12px] h-[12px] rounded-[2px] inline-flex items-center justify-center">
							<svg class="check_show hidden" width="12px" height="12px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M4 12.6111L8.92308 17.5L20 6.5" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
						</span>
						<input type="checkbox" class="checkbox_change absolute opacity-0" name="pilar_TY1">
						<span class="text-[#586B74] text-[12px]">Ei</span>
					</label>
				</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<label class="inline-flex items-center gap-2 cursor-pointer mr-2">
						<span class="shadow-[0_0_4px_2px_rgb(81,244,200,44%)] border border-solid border-[#06F9B7] w-[12px] h-[12px] rounded-[2px] inline-flex items-center justify-center">
							<svg class="check_show hidden" width="12px" height="12px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M4 12.6111L8.92308 17.5L20 6.5" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
						</span>
						<input type="checkbox" class="checkbox_change absolute opacity-0" name="pilar_TY1">
						<span class="text-[#586B74] text-[12px]">Kyllä</span>
					</label>
					<label class="inline-flex items-center gap-2 cursor-pointer">
						<span class="shadow-[0_0_4px_2px_rgb(81,244,200,44%)] border border-solid border-[#06F9B7] w-[12px] h-[12px] rounded-[2px] inline-flex items-center justify-center">
							<svg class="check_show hidden" width="12px" height="12px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M4 12.6111L8.92308 17.5L20 6.5" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
						</span>
						<input type="checkbox" class="checkbox_change absolute opacity-0" name="pilar_TY1">
						<span class="text-[#586B74] text-[12px]">Ei</span>
					</label>
				</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<label class="inline-flex items-center gap-2 cursor-pointer mr-2">
						<span class="shadow-[0_0_4px_2px_rgb(81,244,200,44%)] border border-solid border-[#06F9B7] w-[12px] h-[12px] rounded-[2px] inline-flex items-center justify-center">
							<svg class="check_show hidden" width="12px" height="12px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M4 12.6111L8.92308 17.5L20 6.5" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
						</span>
						<input type="checkbox" class="checkbox_change absolute opacity-0" name="pilar_TY1">
						<span class="text-[#586B74] text-[12px]">Kyllä</span>
					</label>
					<label class="inline-flex items-center gap-2 cursor-pointer">
						<span class="shadow-[0_0_4px_2px_rgb(81,244,200,44%)] border border-solid border-[#06F9B7] w-[12px] h-[12px] rounded-[2px] inline-flex items-center justify-center">
							<svg class="check_show hidden" width="12px" height="12px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M4 12.6111L8.92308 17.5L20 6.5" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
						</span>
						<input type="checkbox" class="checkbox_change absolute opacity-0" name="pilar_TY1">
						<span class="text-[#586B74] text-[12px]">Ei</span>
					</label>
				</td>
				<td class="border border-solid border-[#E1E1EA] py-2 px-3">
					<label class="inline-flex items-center gap-2 cursor-pointer mr-2">
						<span class="shadow-[0_0_4px_2px_rgb(81,244,200,44%)] border border-solid border-[#06F9B7] w-[12px] h-[12px] rounded-[2px] inline-flex items-center justify-center">
							<svg class="check_show hidden" width="12px" height="12px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M4 12.6111L8.92308 17.5L20 6.5" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
						</span>
						<input type="checkbox" class="checkbox_change absolute opacity-0" name="pilar_TY1">
						<span class="text-[#586B74] text-[12px]">Kyllä</span>
					</label>
					<label class="inline-flex items-center gap-2 cursor-pointer">
						<span class="shadow-[0_0_4px_2px_rgb(81,244,200,44%)] border border-solid border-[#06F9B7] w-[12px] h-[12px] rounded-[2px] inline-flex items-center justify-center">
							<svg class="check_show hidden" width="12px" height="12px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M4 12.6111L8.92308 17.5L20 6.5" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
						</span>
						<input type="checkbox" class="checkbox_change absolute opacity-0" name="pilar_TY1">
						<span class="text-[#586B74] text-[12px]">Ei</span>
					</label>
				</td>
				<td class="py-2 px-3">
					<div class="help_wrap relative">

						<a href="#!" class="help_click"><svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="12" cy="12" r="10" stroke="#000000" stroke-width="0.72"></circle> <path d="M10.125 8.875C10.125 7.83947 10.9645 7 12 7C13.0355 7 13.875 7.83947 13.875 8.875C13.875 9.56245 13.505 10.1635 12.9534 10.4899C12.478 10.7711 12 11.1977 12 11.75V13" stroke="#000000" stroke-width="0.72" stroke-linecap="round"></path> <circle cx="12" cy="16" r="1" fill="#000000"></circle> </g></svg> </a>
	
						<div class="help_show text-[#586B74] text-[14px] lg:w-[170px] 2xl:w-[260px] bg-[#F6F8FF] border border-solid border-[#E1E1EA] rounded-lg p-5 lg:absolute lg:ml-[5px] lg:left-[100%] mt-[10px] mb-[15px] lg:mb[0] lg:mt-[-42px] hidden">
							<hr class="inline-block absolute right-[100%] top-[31px] w-[7px] border border-solid border-[#E1E1EA]">
							<span>
								Tarkasta ovatko tarjoukset vertailukelpoisia, eli puuttuuko joltain jotain.
							</span>
						</div>
					</div>
				</td>
			</tr>

			<tr>
				<td class="text-[#283B44] font-medium border border-solid border-[#E1E1EA] py-2 px-3 w-[20%] text-[14px]" colspan="2">Tarjoushinta</td>
				<td class="text-[#00B2A9] text-[14px] italic text-right border border-solid border-[#E1E1EA] py-2 px-3">
					0 €
				</td>
				<td class="text-[#00B2A9] text-[14px] italic text-right border border-solid border-[#E1E1EA] py-2 px-3">
					0 €
				</td>
				<td class="text-[#00B2A9] text-[14px] italic text-right border border-solid border-[#E1E1EA] py-2 px-3">
					0 €
				</td>
				<td class="text-[#00B2A9] text-[14px] italic text-right border border-solid border-[#E1E1EA] py-2 px-3">
					0 €
				</td>
				<td class="py-2 px-3">
					<div class="help_wrap relative">

						<a href="#!" class="help_click"><svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="12" cy="12" r="10" stroke="#000000" stroke-width="0.72"></circle> <path d="M10.125 8.875C10.125 7.83947 10.9645 7 12 7C13.0355 7 13.875 7.83947 13.875 8.875C13.875 9.56245 13.505 10.1635 12.9534 10.4899C12.478 10.7711 12 11.1977 12 11.75V13" stroke="#000000" stroke-width="0.72" stroke-linecap="round"></path> <circle cx="12" cy="16" r="1" fill="#000000"></circle> </g></svg> </a>
	
						<div class="help_show text-[#586B74] text-[14px] lg:w-[170px] 2xl:w-[260px] bg-[#F6F8FF] border border-solid border-[#E1E1EA] rounded-lg p-5 lg:absolute lg:ml-[5px] lg:left-[100%] mt-[10px] mb-[15px] lg:mb[0] lg:mt-[-42px] hidden">
							<hr class="inline-block absolute right-[100%] top-[31px] w-[7px] border border-solid border-[#E1E1EA]">
							<span>
								Mikäli tarjoukset eivät ole vertailukelpoisia, niin tällä rivillä voit lisätä/poistaa kustannuksia vertailun helpottamiseksi.
							</span>
						</div>
					</div>
				</td>
			</tr>

		</table>

	</div>
	{{ do_page_break() }}
	<div class="max-w-[880px] mx-auto mt-20">
		<table class="w-full">
			<tr>
				<td class="text-[#283B44] font-medium border border-solid border-[#E1E1EA] py-2 px-3 w-[20%] text-[14px]" colspan="2">Korjaus vertailukelpoiseksi</td>
				<td class="text-[#00B2A9] text-[14px] italic text-right border border-solid border-[#E1E1EA] py-2 px-3">
				<input type="text" name="noste_i1_49" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="text-[#00B2A9] text-[14px] italic text-right border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_50" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="text-[#00B2A9] text-[14px] italic text-right border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_51" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="text-[#00B2A9] text-[14px] italic text-right border border-solid border-[#E1E1EA] py-2 px-3">
					<input type="text" name="noste_i1_52" class="w-full shadow-[0_0_5px_2px_rgb(81,244,200,44%)]  border border-solid border-[#06F9B7] rounded-[5px] py-1 px-2">
				</td>
				<td class="py-2 px-3">
					<div class="help_wrap relative">

						<a href="#!" class="help_click"><svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="12" cy="12" r="10" stroke="#000000" stroke-width="0.72"></circle> <path d="M10.125 8.875C10.125 7.83947 10.9645 7 12 7C13.0355 7 13.875 7.83947 13.875 8.875C13.875 9.56245 13.505 10.1635 12.9534 10.4899C12.478 10.7711 12 11.1977 12 11.75V13" stroke="#000000" stroke-width="0.72" stroke-linecap="round"></path> <circle cx="12" cy="16" r="1" fill="#000000"></circle> </g></svg> </a>
	
						<div class="help_show text-[#586B74] text-[14px] lg:w-[170px] 2xl:w-[260px] bg-[#F6F8FF] border border-solid border-[#E1E1EA] rounded-lg p-5 lg:absolute lg:ml-[5px] lg:left-[100%] mt-[10px] mb-[15px] lg:mb[0] lg:mt-[-42px] hidden">
							<hr class="inline-block absolute right-[100%] top-[31px] w-[7px] border border-solid border-[#E1E1EA]">
							<span>
								Vertaa tarjousta edullisimpaan (erotus)
							</span>
						</div>
					</div>
				</td>
			</tr>

			<tr>
				<td class="bg-[#00B2A9] text-white font-medium border border-solid border-[#E1E1EA] py-2 px-3 w-[20%] text-[14px]">Kokonaishinta (alv. 0%)</td>
				<td class="bg-[#00B2A9] text-[#283B44] text-right font-medium border border-solid border-[#E1E1EA] py-2 px-3 w-[20%] text-[14px]">Summa ylläolevista</td>
				<td class="bg-[#00B2A9] text-[#283B44] text-[14px] italic text-right border border-solid border-[#E1E1EA] py-2 px-3">
					0 €
				</td>
				<td class="bg-[#00B2A9] text-[#283B44] text-[14px] italic text-right border border-solid border-[#E1E1EA] py-2 px-3">
					0 €
				</td>
				<td class="bg-[#00B2A9] text-[#283B44] text-[14px] italic text-right border border-solid border-[#E1E1EA] py-2 px-3">
					0 €
				</td>
				<td class="bg-[#00B2A9] text-[#283B44] text-[14px] italic text-right border border-solid border-[#E1E1EA] py-2 px-3">
					0 €
				</td>
				<td class="py-2 px-3"></td>
			</tr>

			<tr>
				<td class="text-[#283B44] font-medium border border-solid border-[#E1E1EA] py-2 px-3 w-[20%] text-[14px]" colspan="6">Erotus edullisimpaan tarjoukseen</td>
			</tr>

			<tr>
				<td class="text-[#283B44] font-medium border border-solid border-[#E1E1EA] pt-2 pb-20 px-3 w-[20%] text-[14px]" colspan="2"></td>
				<td class="text-[#586B74] text-[14px] border border-solid border-[#E1E1EA] pt-2 pb-20 px-3">
					Huomiot:
				</td>
				<td class="text-[#586B74] text-[14px] border border-solid border-[#E1E1EA] pt-2 pb-20 px-3">
					Huomiot:
				</td>
				<td class="text-[#586B74] text-[14px] border border-solid border-[#E1E1EA] pt-2 pb-20 px-3">
					Huomiot:
				</td>
				<td class="text-[#586B74] text-[14px] border border-solid border-[#E1E1EA] pt-2 pb-20 px-3">
					Huomiot:
				</td>
				<td class="py-2 px-3 align-baseline">
					<div class="help_wrap relative">

						<a href="#!" class="help_click"><svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="12" cy="12" r="10" stroke="#000000" stroke-width="0.72"></circle> <path d="M10.125 8.875C10.125 7.83947 10.9645 7 12 7C13.0355 7 13.875 7.83947 13.875 8.875C13.875 9.56245 13.505 10.1635 12.9534 10.4899C12.478 10.7711 12 11.1977 12 11.75V13" stroke="#000000" stroke-width="0.72" stroke-linecap="round"></path> <circle cx="12" cy="16" r="1" fill="#000000"></circle> </g></svg> </a>
	
						<div class="help_show text-[#586B74] text-[14px] lg:w-[170px] 2xl:w-[260px] bg-[#F6F8FF] border border-solid border-[#E1E1EA] rounded-lg p-5 lg:absolute lg:ml-[5px] lg:left-[100%] mt-[10px] mb-[15px] lg:mb[0] lg:mt-[-42px] hidden">
							<hr class="inline-block absolute right-[100%] top-[31px] w-[7px] border border-solid border-[#E1E1EA]">
							<span>
								Tähän voi kommentoida tarjouksen huomioita, kuten voimassaoloaika, onko päivitetty esim selonoton jälkeen tai jos jokin asia puuttuu tarjouksesta. Huomioi tässä myös mahdolliset optiohinnat.
							</span>
						</div>
					</div>
				</td>
			</tr>
		</table>
		<table class="w-full mt-10">
			<tr>
				<td class="bg-[#00B2A9] text-white font-medium border border-solid border-[#E1E1EA] py-2 px-3 text-[14px] w-[40%]">Urakoitsijat jotka eivät jättäneet tarjousta</td>
				<td class="w-full bg-[#00B2A9] text-white font-medium border border-solid border-[#E1E1EA] py-2 px-3 text-[14px]">Ehdotettu urakoitsija</td>
				<td class="py-2 px-3 align-baseline">
					<div class="help_wrap relative">

						<a href="#!" class="help_click"><svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="12" cy="12" r="10" stroke="#000000" stroke-width="0.72"></circle> <path d="M10.125 8.875C10.125 7.83947 10.9645 7 12 7C13.0355 7 13.875 7.83947 13.875 8.875C13.875 9.56245 13.505 10.1635 12.9534 10.4899C12.478 10.7711 12 11.1977 12 11.75V13" stroke="#000000" stroke-width="0.72" stroke-linecap="round"></path> <circle cx="12" cy="16" r="1" fill="#000000"></circle> </g></svg> </a>
	
						<div class="help_show text-[#586B74] text-[14px] lg:w-[170px] 2xl:w-[260px] bg-[#F6F8FF] border border-solid border-[#E1E1EA] rounded-lg p-5 lg:absolute lg:ml-[5px] lg:left-[100%] mt-[10px] mb-[15px] lg:mb[0] lg:mt-[-42px] hidden">
							<hr class="inline-block absolute right-[100%] top-[31px] w-[7px] border border-solid border-[#E1E1EA]">
							<span>
								Perustele valittava urakoitsija. Kriteerinä voi olla edullisuus tai jos usea tarjous on lähellä toisiaan voit käyttää omaa harkintaa. Suositellaan tarkastelemaan aikaisempia kokemuksia urakoitsijoista (yhteistyön helppous, laatu, aikataulussa pysyminen, viestintä jne.) Lisäksi tilaajavastuu-lakien mukaiset selvitykset tulee olla tarkistettu olevan asianmukaisesti kunnossa.
							</span>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td class="text-white font-medium border border-solid border-[#E1E1EA] py-2 px-3 text-[14px] w-[40%] h-[150px]"></td>
				<td class="w-full text-white font-medium border border-solid border-[#E1E1EA] py-2 px-3 text-[14px] h-[150px]"></td>
				<td class="py-2 px-3 align-baseline"></td>
			</tr>
		</table>
	</div>
{{ do_pages_end() }}