<div class="px-4 md:px-8 pt-6 pb-10 lg:h-[645px] overflow-y-auto no-scrollbar scroll-smooth">
    <div class="">
        <div class="mx-auto max-w-[750px] mb-4">
            <p class="text-sm text-accent italic">K1</p>
            <p class="text-sm text-accent italic">K1</p>
        </div>
        
        <h4 class="mb-8 text-[#081F2C] mx-auto max-w-[750px]">Projektin lähtötietopalaveri</h4>

        <form action="#" abineguid="75579C31E55F4B469C5152B180230D65">
            <div class="print-page-header">
                <img src="http://localhost:8040/noste/wp-content/uploads/2024/03/logo-noste.png" alt="Logo" />
            </div>
            <div class="print-page-footer">2/3</div>
            <div class="mb-8 mx-auto max-w-[750px]">
                <div class="flex flex-wrap mb-4">
                    <label class="flex-[3] mr-4 text-sm font-medium text-black" for="version">Versio:</label>
                    <p class="flex-[3] text-sm text-accent" id="version">xx.xx.xxxx</p>
                </div>

                <div class="flex flex-wrap mb-2">
                    <label class="flex-[3] mr-4 text-sm font-medium text-black" for="subscriber">Tilaaja:</label>
                    <p class="flex-[3] text-sm text-accent italic" id="subscriber">T1</p>
                </div>
                
                <div class="flex flex-wrap mb-4">
                    <label class="flex-[3] mr-4 text-sm font-medium text-black" for="author">Laatija:</label>
                    <p class="flex-[3] text-sm text-accent italic" id="author">P1, Partners at Noste Oy</p>
                </div>
                
                <div class="flex flex-wrap mb-4">
                    <label class="flex-[3] mr-4 text-sm font-medium text-black" for="target">Kohde:</label>
                    <p class="flex-[3] text-sm text-accent italic" id="target">K4</p>
                </div>

                <div class="flex flex-wrap mb-4">
                    <label class="flex-[3] mr-4 text-sm font-medium text-black" for="target"></label>
                    <p class="flex-[3] text-sm text-accent italic">K1</p>
                </div>
                
                <div class="flex flex-wrap mb-4">
                    <label class="flex-[3] mr-4 text-sm font-medium text-black" for="target"></label>
                    <p class="flex-[3] text-sm text-accent italic">K2</p>
                </div>

                <div class="flex flex-wrap mb-4">
                    <label class="flex-[3] mr-4 text-sm font-medium text-black" for="target"></label>
                    <p class="flex-[3] text-sm text-accent italic">K3</p>
                </div>

                <div class="flex flex-wrap mb-4">
                    <label class="flex-[3] mr-4 text-sm font-medium text-black" for="present">Läsnä:</label>
                    <p class="flex-[3] md:ml-5 text-sm border-accent rounded-md text-[#686d70]" id="present">{{ present }}</p>
                </div>
            </div>

            <p class="mb-8 text-[#081F2C] text-sm font-medium mx-auto max-w-[750px]">Tämän läpikäynnin tavoitteena on projektin lähtötietojen tehokas selvittäminen ja koonti yhteen paikkaan. Lisäksi käydään yhteisesti läpi Nosteelle astetetut tehtävät sekä arvioitu aikataulu.</p>

            <div>
                <div class="dropdown relative">
                    <div class="flex flex-wrap flex-col mb-8 mx-auto max-w-[750px]">
                        <label class="mr-4 mb-2 text-sm font-medium text-black flex items-center" for="general_situation">
                            Vuokrauksen yleistilanne 
                        </label>
                        <p class="text-sm border-accent rounded-md text-[#586B74] order-3" id="general_ituation">{{ general_situation }}</p>
                    </div>
                </div>
                
                <div class="print-page-break"></div>

                <div class="flex flex-wrap flex-col mb-8 mx-auto max-w-[750px]">
                    <label class="mr-4 mb-2 text-sm font-medium text-black" for="nosti_tasks">
                        Nosteen tehtävät
                    </label>
                    <p class="text-sm border-accent rounded-md text-[#586B74]" id="nosti_tasks">{{ nosti_tasks }}</p>
                </div>

                <div class="dropdown relative">
                    <div class="flex flex-wrap flex-col mb-8 mx-auto max-w-[750px]">
                        <div class="flex items-center mb-2">
                            <p class="mr-4 text-sm font-normal text-[#586B74]">Sovittiin, että Noste laatii seuraavat dokumentit:</p>
                            <a href="#" class="dropdown-toggle z-1" data-dropdown="other_questions_tooltip3">
                                <svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <circle cx="12" cy="12" r="10" stroke="#000000" stroke-width="0.72"></circle>
                                        <path d="M10.125 8.875C10.125 7.83947 10.9645 7 12 7C13.0355 7 13.875 7.83947 13.875 8.875C13.875 9.56245 13.505 10.1635 12.9534 10.4899C12.478 10.7711 12 11.1977 12 11.75V13" stroke="#000000" stroke-width="0.72" stroke-linecap="round"></path>
                                        <circle cx="12" cy="16" r="1" fill="#000000"></circle>
                                    </g>
                                </svg>
                            </a>
                        </div>

                        <div class="md:pl-12 order-3">
                            {% for agreed_prepare_document in agreed_prepare_documents %}
                                <label class="flex items-center text-sm md:text-sm mb-2" for="agreed_prepare_documents1">
                                    <p class="mr-2 relative appearance-none rounded border cursor-pointer border-accent h-5 w-2 p-2" id="agreed_prepare_documents1">{{ agreed_prepare_document }}</p>
                                </label>
                            {% else %}
                                No users have been found.
                            {% endfor %}
                            <label class="flex items-center text-sm md:text-sm mb-2" for="agreed_prepare_documents4">
                                <input class="mr-2 relative appearance-none rounded border cursor-pointer border-accent checked:border-accent checked:after:content-['\2713'] checked:after:text-primary checked:after:absolute checked:after:top-1/2 checked:after:left-1/2 checked:after:-translate-x-1/2 checked:after:-translate-y-1/2 h-5 w-2 p-2" type="checkbox" name="agreed_prepare_documents[]" id="agreed_prepare_documents4">
                                <p class="text-sm border-accent rounded-md text-[#586B74] w-1/2" type="text" id="agreed_prepare_documents_content" name="">{{ agreed_prepare_documents_content }}</p>
                            </label>
                        </div>

                    </div>
                </div>
                <div class="dropdown relative">
                    <div class="mb-2 mx-auto max-w-[750px]">
                        <div class="flex items-center mb-4">
                            <h5 class="font-medium">Vuokralaismuutoksen sisällön ja laatutason läpikäynti</h5>
                            <a href="#" class="dropdown-toggle z-1 ml-4" data-dropdown="field_of_change_of_status_tooltip">
                                <svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <circle cx="12" cy="12" r="10" stroke="#000000" stroke-width="0.72"></circle>
                                        <path d="M10.125 8.875C10.125 7.83947 10.9645 7 12 7C13.0355 7 13.875 7.83947 13.875 8.875C13.875 9.56245 13.505 10.1635 12.9534 10.4899C12.478 10.7711 12 11.1977 12 11.75V13" stroke="#000000" stroke-width="0.72" stroke-linecap="round"></path>
                                        <circle cx="12" cy="16" r="1" fill="#000000"></circle>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    
                        <div class="tooltip_content p-2 lg:w-52 lg:after:w-[142%] xl:after:w-[136%] 2xl:after:w-[265%] border border-[#E1E1EA] bg-[#F6F8FF] rounded-md relkative lg:absolute top-0 right-2 order-2 mb-2 hidden
                        " id="field_of_change_of_status_tooltip">
                            <p class="text-xs font-normal text-[#586B74]">Kustannusjako on tärkeää, jotta tiedetään maksaja uusille toiveille ja budjettiylityksille.</p>
                        </div>
                    </div>
                    <div class="mb-8 mx-auto max-w-[750px]">
                        <div class="flex flex-wrap flex-col md:flex-row md:items-center mb-4 mx-auto max-w-[750px]">
                            <label class="flex-[.5] md:mr-4 text-sm font-medium text-[#999a9b]" for="field_of_change_of_status">Tilamuutoksen ala</label>
                            <div class="flex items-center">
                                <p class="text-sm border-accent rounded-md text-black w-36 md:ml-6" type="text" id="field_of_change_of_status" name="field_of_change_of_status">{{ field_of_change_of_status }}</p>
                                <span class="flex items-center ml-2">m<sup>2</sup></span>
                            </div>
                        </div>
                        <div class="flex flex-wrap flex-col md:flex-row md:items-center mb-4 mx-auto max-w-[750px]">
                            <label class="flex-[.5] md:mr-4 text-sm font-medium text-[#999a9b]" for="project_name">Projektin nimi</label>
                            <p class="text-sm border-accent rounded-md w-36 text-black" type="text" id="project_name" name="project_name" placeholder="xxxxx">{{ project_name }}</p>
                        </div>
                        <div class="flex flex-wrap flex-col md:flex-row md:items-center mb-4">
                            <label class="flex-[.5] md:mr-4 text-sm font-medium text-[#999a9b]" for="the_building_ompleted_year">Rakennuksen valmistumisvuosi</label>
                            <p class="text-sm border-accent rounded-md w-36 text-black " type="text" id="the_building_ompleted_year" name="the_building_ompleted_year">{{ the_building_ompleted_year }}</p>
                        </div>
                    </div>
                </div>
                
                <div class="mb-8 dropdown relative">
                    <div class="mx-auto max-w-[750px] relative">
                        <p class="w-full text-sm border-accent rounded-md text-[#586B74]" id="who_pays_new_requests_and_budget" name="who_pays_new_requests_and_budget" rows="6" >{{ who_pays_new_requests_and_budget }}</p>
                    </div>
                </div>
                
                <div class="dropdown relative">
                    <div class="flex flex-wrap flex-col mb-8 mx-auto max-w-[750px]">
                        <div class="flex items-center mb-4">
                            <label class="mr-4 text-sm font-medium text-black" for="other_questions">
                                Muut kysymykset
                            </label>
                            <a href="#" class="dropdown-toggle z-1 ml-4" data-dropdown="other_questions_tooltip4">
                                <svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <circle cx="12" cy="12" r="10" stroke="#000000" stroke-width="0.72"></circle>
                                        <path d="M10.125 8.875C10.125 7.83947 10.9645 7 12 7C13.0355 7 13.875 7.83947 13.875 8.875C13.875 9.56245 13.505 10.1635 12.9534 10.4899C12.478 10.7711 12 11.1977 12 11.75V13" stroke="#000000" stroke-width="0.72" stroke-linecap="round"></path>
                                        <circle cx="12" cy="16" r="1" fill="#000000"></circle>
                                    </g>
                                </svg>
                            </a>
                        </div>
                        
                        <p class="text-sm border-accent rounded-md text-[#586B74]" id="other_questions" name="other_questions" rows="4">{{ other_questions }}</p>
                    </div>

                    <div class="tooltip_content p-2 lg:w-52 lg:after:w-[142%] xl:after:w-[286%] 2xl:after:w-[351%] border border-[#E1E1EA] bg-[#F6F8FF] rounded-md relkative lg:absolute top-0 right-2 order-2 mb-2 hidden" id="other_questions_tooltip4">
                        <p class="text-xs font-normal text-[#586B74]">Kiinteistöissä tehdään kiinteistön ylläpitoon ja huoltoon liittyviä PTS-korjauksia (eli pitkän tähtäimen suunnitelman mukaisia korjauksia). Kiinteistö hoitaa PTS-korjaukset pääsääntöisesti itse mutta jos vuokralaismuutosalueella on jotakin tiedossa olevia töitä ne usein halutaan yhdistää vuokralaismuutoksen kanssa.</p>
                    </div>
                </div>
                
                
                <div class="mb-8 mx-auto max-w-[750px]">
                    <h5 class="mr-4 mb-2 text-sm font-normal text-black">Sähkön laskutus</h5>
                    <div class="flex md:flex-wrap flex-col md:flex-row md:items-center justify-between mb-4">
                        <label class="flex items-center text-sm mb-2" for="electricity_billing1">
                            <input class="mr-2 relative appearance-none rounded border cursor-pointer border-accent checked:border-accent checked:after:content-['\2713'] checked:after:text-primary checked:after:absolute checked:after:top-1/2 checked:after:left-1/2 checked:after:-translate-x-1/2 checked:after:-translate-y-1/2 h-5 w-2 p-2" type="checkbox" name="electricity_billing[]" id="electricity_billing1">
                            Sähkö laskutetaan neliöperusteisesti
                        </label>
                        <label class="flex items-center text-sm mb-2" for="electricity_billing2">
                            <input class="mr-2 relative appearance-none rounded border cursor-pointer border-accent checked:border-accent checked:after:content-['\2713'] checked:after:text-primary checked:after:absolute checked:after:top-1/2 checked:after:left-1/2 checked:after:-translate-x-1/2 checked:after:-translate-y-1/2 h-5 w-2 p-2" type="checkbox" name="electricity_billing[]" id="electricity_billing2">
                            kiinteistön alamittauksen avulla
                        </label>
                        <label class="flex items-center text-sm mb-2" for="electricity_billing3">
                            <input class="mr-2 relative appearance-none rounded border cursor-pointer border-accent checked:border-accent checked:after:content-['\2713'] checked:after:text-primary checked:after:absolute checked:after:top-1/2 checked:after:left-1/2 checked:after:-translate-x-1/2 checked:after:-translate-y-1/2 h-5 w-2 p-2" type="checkbox" name="electricity_billing[]" id="electricity_billing3">
                            vuokralaisella oma sähkösopimus
                        </label>
                    </div>
                    <p class="w-full text-sm border-accent rounded-md text-[#586B74]" id="electricity_billing_comment" name="">{{ electricity_billing_comment }}</p>
                </div>

                <div class="mx-auto max-w-[750px]">
                    <h5 class="mr-4 mb-4 text-sm font-medium text-black">Perustiedot</h5>
                    <p class="mb-4 text-sm">Tämän läpikäynnin tavoitteena on projektin lähtötietojen tehokas selvittäminen ja koonti yhteen paikkaan. Lisäksi käydään yhteisesti läpi Nosteelle astetetut tehtävät sekä arvioitu aikataulu.</p>
                </div>


                <div class="flex flex-wrap flex-col md:flex-row md:items-center mb-4 mx-auto max-w-[750px]">
                    <label class="flex-[2] mr-4 text-sm font-normal text-[#586B74]" for="property_name">Kiinteistön nimi</label>
                    <p class="flex-[3] text-sm border-accent rounded-md text-[#586B74]" type="text" id="property_name" name="">{{ property_name }}</p>
                </div>

                <div class="flex flex-wrap flex-col md:flex-row md:items-center mb-4 mx-auto max-w-[750px]">
                    <label class="flex-[2] mr-4 text-sm font-normal text-[#586B74]" for="sreet_address">Kiinteistön katuosoite</label>
                    <p class="flex-[3] text-sm border-accent rounded-md text-[#586B74]" type="text" id="sreet_address" name="sreet_address">{{ sreet_address }}</p>
                </div>

                <div class="flex flex-wrap flex-col md:flex-row md:items-center mb-4 mx-auto max-w-[750px]">
                    <label class="flex-[2] mr-4 text-sm font-normal text-[#586B74]" for="property_manager">Kiinteistöpäällikkö (Henkilö)</label>
                    <p class="flex-[3] text-sm border-accent rounded-md text-[#586B74]" type="text" id="property_manager" name="">{{ property_manager }}</p>
                </div>

                <div class="flex flex-wrap flex-col md:flex-row md:items-center mb-4 mx-auto max-w-[750px]">
                    <label class="flex-[2] mr-4 text-sm font-normal text-[#586B74]" for="property_manager_email">Kiinteistöpäällikön sähköposti</label>
                    <p class="flex-[3] text-sm border-accent rounded-md text-[#586B74]" type="email" id="property_manager_email" name="">{{ property_manager_email }}</p>
                
                </div>

                <div class="flex flex-wrap flex-col md:flex-row md:items-center mb-4 mx-auto max-w-[750px]">
                    <label class="flex-[2] mr-4 text-sm font-normal text-[#586B74]" for="property_manager_phone">Kiinteistöpäällikön puhelinnumero</label>
                    <p class="flex-[3] text-sm border-accent rounded-md text-[#586B74]" type="tel" id="property_manager_phone" name="">{{ property_manager_phone }}</p>
                </div>

                <div class="flex flex-wrap flex-col md:flex-row md:items-center mb-4 mx-auto max-w-[750px]">
                    <label class="flex-[2] mr-4 text-sm font-normal text-[#586B74]" for="maintenance_person">Huoltohenkilö (Henkilö)</label>
                    <p class="flex-[3] text-sm border-accent rounded-md text-[#586B74]" type="text" id="maintenance_person" name="">{{ maintenance_person }}</p>
                </div>

                <div class="flex flex-wrap flex-col md:flex-row md:items-center mb-4 mx-auto max-w-[750px]">
                    <label class="flex-[2] mr-4 text-sm font-normal text-[#586B74]" for="service_email">Huollon sähköposti</label>
                    <p class="flex-[3] text-sm border-accent rounded-md text-[#586B74]" type="email" id="service_email" name="">{{ service_email }}</p>
                </div>

                <div class="flex flex-wrap flex-col md:flex-row md:items-center mb-4 mx-auto max-w-[750px]">
                    <label class="flex-[2] mr-4 text-sm font-normal text-[#586B74]" for="service_phone_number">Huollon puhelinnumero</label>
                    <p class="flex-[3] text-sm border-accent rounded-md text-[#586B74]" type="tel" id="service_phone_number" name="">{{ service_phone_number }}</p>
                </div>

                <div class="flex flex-wrap flex-col md:flex-row md:items-center mb-4 mx-auto max-w-[750px]">
                    <label class="flex-[2] mr-4 text-sm font-normal text-[#586B74]" for="aulas_email">Aulan sähköposti</label>
                    <p class="flex-[3] text-sm border-accent rounded-md text-[#586B74]" type="email" id="aulas_email" name="">{{ aulas_email }}</p>
                </div>

                <div class="flex flex-wrap flex-col md:flex-row md:items-center mb-4 mx-auto max-w-[750px]">
                    <label class="flex-[2] mr-4 text-sm font-normal text-[#586B74]" for="lobby_phone_number">Aulan puhelinnumero</label>
                    <p class="flex-[3] text-sm border-accent rounded-md text-[#586B74]" type="tel" id="lobby_phone_number" name="">{{ lobby_phone_number }}</p>
                </div>

                <div class="flex flex-wrap flex-col md:flex-row md:items-center mb-4 mx-auto max-w-[750px]">
                    <label class="flex-[2] mr-4 text-sm font-normal text-[#586B74]" for="lobby_opening_hours">Aulan aukioloajat</label>
                    <p class="flex-[3] text-sm border-accent rounded-md text-[#586B74]" type="text" id="lobby_opening_hours" name="">{{ lobby_opening_hours }}</p>
                </div>

                <div class="flex flex-wrap flex-col md:flex-row md:items-center mb-4 mx-auto max-w-[750px]">
                    <label class="flex-[2] mr-4 text-sm font-normal text-[#586B74]" for="tenant_company">Vuokralainen (yhtiö)</label>
                    <p class="flex-[3] text-sm border-accent rounded-md text-[#586B74]" type="text" id="tenant_company" name="">{{ tenant_company }}</p>
                </div>
            </div>
        </form>
    </div>
</div>